<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="dist/style.css">
    <style>
        div {

        }
    </style>
</head>
<body class="font-body">
<div class="container px-4 mx-auto  max-w-5xl">
    <div class="text-center py-14">
        <h1 class="text-5xl font-bold font-title text-sec">
            Latest Blog<br>
            <span class="text-pri">
                Posts
            </span>
        </h1>
        <p class="text-pri max-w-xs mx-auto py-6">Welcome to our "Baba Barghi" blog. Get our latest news with just one
            search!</p>
        <input type="search" class="bg-our-bg px-8 py-2 lg:rounded-tr-2xl rounded-bl-2xl shadow-inner
                ring ring-blue-300 ring-offset-4 focus:outline-none  ring-opacity-50" placeholder="Search ...">
    </div>
    <section class="main">
        <div class="grid grid-cols-3">
            <div class="col-span-3">
                <a href="#" class="border border-gray-100  flex rounded-3xl overflow-hidden transition duration-300
                hover:shadow-lg">
                    <div class="w-1/2">
                        <img src="dist/img/speaker.jpg">
                    </div>
                    <div class="w-1/2 p-5">
                        <p class="px-3 py-2 bg-our-bg text-sec text-xs inline rounded">FEATURE</p>
                        <h2 class="font-bold text-pri text-xl md:text-2xl font-title py-3 transition duration-200
                         hover:text-sec">Why is it important to follow a Brand Style Guide for your business?</h2>
                        <p class="text-gen pb-3">A brand style guide is also known as a brand guide or brand book.
                            For many companies, the guide is essential to maintain their brand identity. For them, such
                            a well-thought-of guide becomes their key document, which serves as a guide to create a
                            variety of content for brand marketing.</p>
                        <div class="flex grid item-center"></div>
                        <img src="dist/img/phelps.jpeg" alt="" class="w-12 h-12 float-left rounded-full">
                        <div class="pl-3 grid">
                            <h6 class="text-xs text-pri pt-1 font-bold">Michael Phelps</h6>
                            <p class="text-xs text-gen">Brand Specialist</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--            second row-->
            <div class="border border-gray-100 rounded-xl overflow-hidden transition duration-200 hover:shadow-lg
            hover:border-transparent">
                <a href="#">
                    <img src="dist/img/dmitry-vechorko-V2QzpfxPX1g-unsplash.jpg" alt="" class="w-full h-64">
                    <div class="px-4 pb-6 mx-auto">
                        <h2 class="font-bold text-pri text-xl font-title py-3 transition duration-200 hover:text-sec">
                            Why is it important to follow a Brand Style Guide for your business?
                        </h2>
                        <p class="text-gen pb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            asperiores beatae, dolores eaque iure magni natus ratione sed. Sint, voluptate.</p>
                    </div>
                    <div class="flex item-center pb-4">
                        <img src="dist/img/phelps.jpeg" alt="" class="w-12 h-12  float-left rounded-full">
                        <div class=" pl-3 pb-4 grid inline-block">
                            <h6 class="text-xs text-pri pt-2 font-bold">Michael Phelps</h6>
                            <p class="text-xs text-gen">Brand Specialist</p>
                        </div>
                    </div>
                </a>
            </div>

              <!--            third row-->
            <div class="border border-gray-100 rounded-xl overflow-hidden transition duration-200 hover:shadow-lg
            hover:border-transparent">
                <a href="#">
                    <img src="dist/img/bernie-almanzar-cCyojGPS8eQ-unsplash.jpg" alt="" class="w-full h-64">
                    <div class="px-4 pb-6 mx-auto">
                        <h2 class="font-bold text-pri text-xl font-title py-3 transition duration-200 hover:text-sec">
                            Why is it important to follow a Brand Style Guide for your business?
                        </h2>
                        <p class="text-gen pb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            asperiores beatae, dolores eaque iure magni natus ratione sed. Sint, voluptate.</p>
                    </div>
                    <div class="flex item-center pb-4">
                        <img src="dist/img/phelps.jpeg" alt="" class="w-12 h-12  float-left rounded-full">
                        <div class=" pl-3 pb-4 grid inline-block">
                            <h6 class="text-xs text-pri pt-2 font-bold">Michael Phelps</h6>
                            <p class="text-xs text-gen">Brand Specialist</p>
                        </div>
                    </div>
                </a>
            </div>

              <!--            third row-->
            <div class="border border-gray-100 rounded-xl overflow-hidden transition duration-200 hover:shadow-lg
            hover:border-transparent">
                <a href="#">
                    <img src="dist/img/artiom-vallat-1GntEP783rI-unsplash.jpg" alt="" class="w-full h-64">
                    <div class="px-4 pb-6 mx-auto">
                        <h2 class="font-bold text-pri text-xl font-title py-3 transition duration-200 hover:text-sec">
                            Why is it important to follow a Brand Style Guide for your business?
                        </h2>
                        <p class="text-gen pb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            asperiores beatae, dolores eaque iure magni natus ratione sed. Sint, voluptate.</p>
                    </div>
                    <div class="flex item-center pb-4">
                        <img src="dist/img/phelps.jpeg" alt="" class="w-12 h-12  float-left rounded-full">
                        <div class=" pl-3 pb-4 grid inline-block">
                            <h6 class="text-xs text-pri pt-2 font-bold">Michael Phelps</h6>
                            <p class="text-xs text-gen">Brand Specialist</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
</body>
</html>