{#{% extends "base.html" %}#}
{% load static %}
{#{% block content %}#}
{##}
{##}

<!--  ==========  -->
<!--  = Main content =  -->
<!--  ==========  -->
    <div>
    <div>

    <div>
<section class="span12">

    <p class="container-404">
        <img src="{% static "images/404.png" %}" alt="404 Error" width="394" height="161"/>
    </p>

    <hr/>

    <p class="center-align size-16">
        به نظر می آید مشکلی پیش آمده! صفحه این که به دنبال آن میگردید در اینجا نیست.
    </p>
    <p class="center-align size-16 push-down-50">
        به <a href="index.html">خانه</a> باز گردید یا جستجو کنید :
    </p>
    <p style="color: orangered; size:30px">{{ body }}</p>
    {% for q in qs %}
        <p>{{ q }}</p>
    {% endfor %}

    <div class="name">
        <div class="span4 offset4">
            <div class="sidebar-item widget_search">
                <form action={% url "home_page" %}>
                    <input type="submit" >
{#                    <button type="submit"> برگرد به خانه#}
{#                        <i class="icon-search"></i>#}
{#                    </button>#}
                </form>
            </div>
        </div>
    </div>

</section> <!-- /main content -->
    </div>
    </div>
    </div> <!-- /container -->


{#{% endblock %}#}
    