{% extends "base.html" %}
{% load static %}s
{% block content %}
    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">
{##}
                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span3">
                    <div class="sidebar-item">

                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->
                        <div class="underlined">
                            <h3><span class="light">تیم</span> ما</h3>
                        </div>

                        <!--  ==========  -->
                        <!--  = Menu (affix) =  -->
                        <!--  ==========  -->
                        <div class="row">
                            <div class="span3" id="spyMenu">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>علی رحمانی</li>
                                    <li>مهرداد بیوکیان</li>
{#                                    <li><a href="#jaka">علی رحمانی <i class="icon-caret-right pull-right"></i></a></li>#}
{#                                    <li><a href="#primoz">مهرداد بیوکیان <i class="icon-caret-right pull-right"></i></a></li>#}

                                </ul>
                            </div>
                        </div>

                    </div>
                </aside> <!-- /sidebar -->

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9">

                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <h3><span class="light">چند کلمه</span> درباره ما</h3>
                    </div> <!-- /title -->

                    <!--  ==========  -->
                    <!--  = Description=  -->
                    <!--  ==========  -->
                    <section class="blocks-spacer">
                        <h5><span class="light">چطور</span> همه چیز شروع شد</h5>
                        <p> چلنج های برنامه نویسی رو دوست داشتیم </p>

                        <h5><span class="light">چه</span> جریاناتی در پیش است</h5>
                        <p> هر روز بیشتر از دیروز سعی میکنیم یاد بگیریم . میخواهیم بعدا به این سایت بخش استریم را هم اضافه کنیم </p>

                        <h5><span class="light">و</span> امروز ما که هستیم!</h5>
                        <p> تا قبل از این خورشید پشتش به ما بود ولی از امروز به بعد خورشید روش به ماست 😍 🤩 </p>
                    </section>

                    <!--  ==========  -->
                    <!--  = Team Members =  -->
                    <!--  ==========  -->
                    <section>

                        <!--  ==========  -->
                        <!--  = Title =  -->
                        <!--  ==========  -->

                        <div class="underlined push-down-20">
                            <h3><span class="light">اعضای تیم</span> بابا برقی</h3>
                        </div> <!-- /title -->


                        {% for foo in about %}

                        <!--  = team  =  -->
                        <div class="row-fluid push-down-20" id="jaka">
                            <div class="span4">
                              <img src="{{ foo.image }}" alt="person" width="550"
                                                 height="660"/>
                            </div>
                            <div class="span4">
                                <h4><span class="light">{{ foo.name }}</span></h4>
                                <h6 class="move-title-up">طراح ارشد</h6>
                                <p>
                                    {{ foo.text }}
                                </p>
                            </div>
                            <div class="span4">
                                <blockquote>
                                    <i class="icon-quote-right icon-5x"></i>
                                    <p>  </p>
                                </blockquote>
                            </div>
                        </div>

                        {% endfor %}


                </section> <!-- /main content -->
    </div>
    </div>
    </div>
{% endblock %}







{#                        <!--  = Ana =  -->#}
{#                        <div class="row-fluid push-down-20" id="ana">#}
{#                            <div class="span4">#}
{#                                <a href="#"><img src="{% static "images/dummy/about-us/profile-4.jpg"%}" alt="person" width="550"#}
{#                                                 height="660"/></a>#}
{#                            </div>#}
{#                            <div class="span4">#}
{#                                <h4><span class="light">آنا</span> کارنینا</h4>#}
{#                                <h6 class="move-title-up">ارتباط با مشتری</h6>#}
{#                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود#}
{#                                    شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها#}
{#                                    جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای#}
{#                                    زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن#}
{#                                    و دستاوردهای خوب شاید باشد.</p>#}
{#                            </div>#}
{#                            <div class="span4">#}
{#                                <blockquote>#}
{#                                    <i class="icon-quote-right icon-5x"></i>#}
{#                                    <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم#}
{#                                        بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری#}
{#                                        ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود.#}
{#                                        کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه#}
{#                                        فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>#}
{#                                </blockquote>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <!--  = Andre =  -->#}
{#                        <div class="row-fluid push-down-20" id="andre">#}
{#                            <div class="span4">#}
{#                                <blockquote>#}
{#                                    <i class="icon-quote-right icon-5x"></i>#}
{#                                    <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم#}
{#                                        بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری#}
{#                                        ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود.#}
{#                                        کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه#}
{#                                        فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>#}
{#                                </blockquote>#}
{#                            </div>#}
{#                            <div class="span4">#}
{#                                <h4><span class="light">آندره</span> ژید</h4>#}
{#                                <h6 class="move-title-up">ارتباط با مشتری</h6>#}
{#                                <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود#}
{#                                    شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها#}
{#                                    جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای#}
{#                                    زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن#}
{#                                    و دستاوردهای خوب شاید باشد.</p>#}
{#                            </div>#}
{#                            <div class="span4">#}
{#                                <a href="#"><img src="{% static "images/dummy/about-us/profile-3.jpg"%}" alt="person" width="550"#}
{#                                                 height="660"/></a>#}
{#                            </div>#}
{#                        </div>#}