{% extends "base.html" %}
{% load static %}
{% block content %}

<body class=" checkout-page">

    <div class="master-wrapper">



    <div class="container">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">

                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">

                    	    <!--  ==========  -->
							<!--  = Header =  -->
							<!--  ==========  -->
                            <hr>
                    		<header>
                    		    <div class="row">
                    		    	<div class="span2">
                    		    		<a href="index.html"><img src="{% static "images/LOGO50.png" %}" alt="Webmarket Logo" width="48" height="48" /></a>
                    		    	</div>
                    		    	<div class="span6">
                    		    	    <div class="center-align">
                    		    	        <h1><span class="light">بازبینی</span> سبد خرید</h1>
                    		    	    </div>
                    		    	</div>
                    		    	<div class="span2">
                    		    	    <div class="right-align">
                    		    	    	<img src="{% static "images/LOGO50.png" %}" alt="Security Sign" width="92" height="65" />
                    		    	    </div>
                    		    	</div>
                    		    </div>
                    		</header>

                    		<!--  ==========  -->
							<!--  = Steps =  -->
							<!--  ==========  -->
                    		<div class="checkout-steps">
                    		    <div class="clearfix">
                    		    	<div class="step active">
                    		    	    <div class="step-badge">1</div>
                    		    	    سبد خرید
                    		    	</div>
                    		    	<div class="step">
                    		    	    <div class="step-badge">3</div>
                    		    	    آدرس ارسال
                    		    	</div>
                    		    	<div class="step">
                                        <div class="step-badge">2</div>
                                        شیوه پرداخت
                                    </div>
                    		    	<div class="step">
                    		    	    <div class="step-badge">4</div>
                    		    	    تایید و پرداخت
                    		    	</div>
                    		    </div>
                    		</div> <!-- /steps -->

                    		<!--  ==========  -->
							<!--  = Selected Items =  -->
							<!--  ==========  -->

							<table class="table table-items">
							    <thead>
							    	<tr>
							    		<th colspan="2">آیتم</th>
							    		<th><div class="align-center">تعداد</div></th>
							    		<th><div class="align-right">قیمت</div></th>
							    	</tr>
							    </thead>
							    <tbody>
                                {% if object. %}
                                
                                {% endif %} 
                                {% for cart in cart_list_view %}
							        <tr>
							        	<td class="image"><img src="{% static "images/LOGO50.png" %}" alt="" width="55" height="55" /></td>

							        	<td class="desc">تولید کننده {{ cart.cart_item.product_fk.supplier.company_name}}
                                            &nbsp; <a title="Remove Item" class="icon-remove-sign" href="#"></a>
                                                   {{ cart.cart_item.product_fk.name}}</td>

							        	<td class="qty">
							        	    <input type="text" class="tiny-size" value= {{ cart.cart_item.quantity}} />
					            	    </td>
							        	<td class="price">
							        	  {{ cart.cart_item.product_fk.cost }}
							        	</td>
							        </tr>
                            {% endfor %}

                                </tbody>
							</table>

							<hr />

							<p class="right-align">
							    در مرحله بعدی شما آدرس ارسال را انتخاب خواهید کرد. &nbsp; &nbsp;
							    <a href="checkout-step-2.html" class="btn btn-primary higher bold">ادامه</a>
							</p>
                    	</div>
                    </div>
                </div>


            </section> <!-- /main content -->

        </div>
    </div> <!-- /container -->




    </div> <!-- end of master-wrapper -->
{% endblock %}
