{% load static %}
<body class="">

<div class="master-wrapper">

    <!--  ==========  -->
    <!--  = Header =  -->
    <!--  ==========  -->
    <header id="header">
        <div class="container">
            <div class="row">

                <!--  ==========  -->
                <!--  = Logo =  -->
                <!--  ==========  -->
                <div class="span7">
                    <a class="brand" href="{% static "index.html" %}">
                        <img src="{% static  "images/LOGO200.png" %}" alt="Babab Barghi Logo" width="48" height="48"/>
                        <span class="pacifico">Baba Barghi</span>
                        <span class="tagline">دنیای برقی</span>
                    </a>
                </div>

                <!--  ==========  -->
                <!--  = Social Icons =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="topmost-line">
                        <div class="lang-currency">
                            <div class="dropdown js-selectable-dropdown">
                                <a data-toggle="dropdown" class="selected" href="#"><span class="js-change-text"><i
                                        class="famfamfam-flag-ir"></i> فارسی (FA)</span> <b class="caret"></b></a>
                                <!-- for all available country flags look the styles in lib/components/_flags.scss -->
                                <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#"><i class="famfamfam-flag-ir"></i> فارسی (FA)</a></li>
                                    <li><a href="#"><i class="famfamfam-flag-gb"></i> انگلیسی (EN)</a></li>
                                    <li><a href="#"><i class="famfamfam-flag-si"></i> اسلوانیایی (SI)</a></li>
                                    <li><a href="#"><i class="famfamfam-flag-de"></i> آلمانی (DE)</a></li>
                                    <li><a href="#"><i class="famfamfam-flag-fr"></i> فرانسوی (FR)</a></li>
                                    <li><a href="#"><i class="famfamfam-flag-es"></i> اسپانیولی (ES)</a></li>
                                </ul>
                            </div>
                            <div class="dropdown js-selectable-dropdown">
                                <a data-toggle="dropdown" class="selected" href="#"><span
                                        class="js-change-text">IRR (﷼)</span> <b class="caret"></b></a>
                                <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#">IRR (تومان)</a></li>
                                    <li><a href="#">IRR (﷼)</a></li>
                                    <li><a href="#">USD ($)</a></li>
                                    <li><a href="#">EUR (€)</a></li>
                                    <li><a href="#">YEN (¥)</a></li>
                                    <li><a href="#">GBP (£)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-right">
                        <div class="icons">
                            <a href="http://www.google.com/ProteusNet"><span
                                    class="zocial-google"></span></a>
                            <a href="http://www.paypal.com/ProteusNet"><span
                                    class="zocial-paypal"></span></a>
                            <a href="http://www.github.com/alirahmani93"><span
                                    class="zocial-github"></span></a>
                        </div>
                        <div class="register">
                            <a href="{% static "#loginModal" %}" role="button" data-toggle="modal">ورود</a> یا
                            <a href="{% static "#registerModal" %}" role="button" data-toggle="modal">ثبت نام</a>
                        </div>
                    </div>
                </div> <!-- /social icons -->
            </div>
        </div>
    </header>

    <!--  ==========  -->
    <!--  = Main Menu / navbar =  -->
    <!--  ==========  -->
    <div class="navbar navbar-static-top" id="stickyNavbar" style="background-color: #1F1F1D">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="span9">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!--  ==========  -->
                        <!--  = Menu =  -->
                        <!--  ==========  -->
                        <div class="nav-collapse collapse">
                            <ul class="nav" id="mainNavigation">
                                <li class="active">
                                    <a href="{% url "home_page" %}" class="dropdown-toggle"> خانه <b
                                            class="caret"></b> </a>
                                </li>

                                <li class="dropdown">
                                    <a href="{% url "shop" %}" class="dropdown-toggle"> فروشگاه <b
                                            class="caret"></b> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% static "shop.html" %}" > محصولات</a></li>
                                        <li><a href="{% url "show_all_list" "category"%}" >کتگوری</a></li>
                                        <li><a href="{% url "show_all_list" "media"%}" > تصاویر </a></li>
                                        <li><a href="{% url "show_all_list" "brand"%}" > برند ها</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="{% static "blog.html" %}" class="dropdown-toggle">بلاگ <b
                                            class="caret"></b> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% static "blog.html" %}">قالب بندی پیش فرض</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="{% static "features.html" %}" class="dropdown-toggle">امکانات <b
                                            class="caret"></b> </a>
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="{% static "icons.html" %}">آیکن ها</a></li>#}
{#                                        <li class="dropdown">#}
{#                                            <a href="{% static "features.html" %}" class="dropdown-toggle"><i#}
{#                                                    class="icon-caret-left pull-right visible-desktop"></i> همه امکانات</a>#}
{#                                            <ul class="dropdown-menu">#}
{#                                                <li><a href="{% static  "features.html#headings" %}">سرخط ها</a></li>#}
{#                                                <li><a href="{% static  "features.html#alertBoxes" %}">جعبه های#}
{#                                                    هشدار</a></li>#}
{##}
{#                                            </ul>#}
{#                                        </li>#}
{#                                    </ul>#}
                                </li>
                                <li><a href="{% static "about-us.html" %}">درباره ما</a></li>
                                <li><a href="{% static "contact.html" %}">تماس با ما</a></li>
                            </ul>

                            <!--  ==========  -->
                            <!--  = Search form =  -->
                            <!--  ==========  -->
                            <form class="navbar-form pull-right" action="#" method="get">
                                <button type="submit"><span class="icon-search"></span></button>
                                <input type="text" class="span1" name="search" id="navSearchInput">
                            </form>
                        </div><!-- /.nav-collapse -->
                    </div>

                    <!--  ==========  -->
                    <!--  = Cart =  -->
                    <!--  ==========  -->s

{#                    <div class="span3">#}
{#                        <div class="cart-container" id="cartContainer">#}
{#                            <div class="cart">#}
{#                                <p class="items">سبد خرید <span class="dark-clr"></span></p>#}
{#                                <p class="dark-clr hidden-tablet">$1816.90</p>#}
{#                                <a href="{% static "checkout-step-1.html" %}" class="btn btn-danger">#}
{#                                    <!-- <span class="icon icons-cart"></span> -->#}
{#                                    <i class="icon-shopping-cart"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="open-panel">#}
{% for elm in qs %}


                                <div class="item-in-cart clearfix">
                                    <div class="image">
                                        <img src="{% static  "images/dummy/cart-items/cart-item-1.jpg" %}" width="124"
                                             height="124" alt="cart item"/>
                                    </div>
                                    <div class="desc">
                                        <strong><a href="{% static "product.html" %}">{{ elm. }}</a></strong>
                                        <span class="light-clr qty">
                                    تعداد : 1
                                    &nbsp;
                                    <a href="#" class="icon-remove-sign" title="Remove Item"></a>
                                </span>
                                    </div>
                                    <div class="price">{{ elm }}
                                        <strong>$4957</strong>
                                    </div>
                                </div>
{% endfor %}


                                <div class="summary">
                                    <div class="line">
                                        <div class="row-fluid">
                                            <div class="span6">هزینه ارسال :</div>
                                            <div class="span6 align-right">$4.99</div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="row-fluid">
                                            <div class="span6">جمع کل :</div>
                                            <div class="span6 align-right size-16">$357.81</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="proceed">
                                    <a href="{% static "checkout-step-1.html" %}"
                                       class="btn btn-danger pull-right bold higher">تصویه
                                        حساب <i class="icon-shopping-cart"></i></a>
                                    <small>هزینه ارسال بر اساس منطقه جغرافیایی محاسبه میشود. <a href="#">اطلاعات
                                        بیشتر</a></small>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /cart -->
                </div>
            </div>
        </div>
    </div> <!-- /main menu -->


    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static "images/dummy/slides/1/Banner Kochak.jpg" %}" alt="slider img" width="1400"
                         height="377"/>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                         data-x="120"
                         data-y="120"
                         data-speed="1000"
                         data-start="500"
                         data-easing="easeInOutBack">
                        بابا برقی دنیای برقی
                    </div>

                    <div class="caption lfl small_theme"
                         data-x="120"
                         data-y="190"
                         data-speed="1000"
                         data-start="700"
                         data-easing="easeInOutBack">
                        هزاران قطعه مورد نیاز شما
                    </div>

                    <a href="{% static "features.html" %}" class="caption lfl btn btn-primary btn_theme"
                       data-x="120"
                       data-y="260"
                       data-speed="1000"
                       data-start="900"
                       data-easing="easeInOutBack">
                        محصولات متنوع به همراه کاتالوگ فنی
                    </a>
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static  "images/dummy/slides/2/slide.jpg" %}" alt="slider img" width="1400"
                         height="377"/>

                    <!-- power-supply -->
                    <div class="caption lfb ltb"
                         data-x="300"
                         data-y="5"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/2/power-supply.png" %}" alt="tools" width="1000"
                             height="300"/>
                    </div>


                    <!-- texts -->
                    <div class="caption lfl big_theme"
                         data-x="120"
                         data-y="120"
                         data-speed="1000"
                         data-start="500"
                         data-easing="easeInOutBack">
                        Slider Revolution
                    </div>

                    <div class="caption lfl small_theme"
                         data-x="120"
                         data-y="190"
                         data-speed="1000"
                         data-start="700"
                         data-easing="easeInOutBack">
                        بیش از 1000 کاتالوگ فنی
                    </div>

                    <a href="{% static "features.html" %}" class="caption lfl btn btn-primary btn_theme"
                       data-x="120"
                       data-y="260"
                       data-speed="1000"
                       data-start="900"
                       data-easing="easeInOutBack">
                       به صرفه ترین قیمت در کمترین زمان
                    </a>
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static  "images/dummy/slides/3/slide.jpg" %}" alt="slider img" width="1400"
                         height="377"/>

                    <!-- phone -->
                    <div class="caption sfr fadeout"
                         data-x="950"
                         data-y="77"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/3/transistor2.png" %}" alt="phone in a hand" width="495"
                             height="377"/>
                    </div>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                         data-x="120"
                         data-y="120"
                         data-speed="1000"
                         data-start="500"
                         data-easing="easeInOutBack">
                       خلاقیت یک حرکت خوشمندانه
                    </div>

                    <div class="caption lfl small_theme"
                         data-x="120"
                         data-y="190"
                         data-speed="1000"
                         data-start="700"
                         data-easing="easeInOutBack">
                        با بیش از 50 سال سابقه و عقبه .
                    </div>

                    <a href="{% static "icons.html" %}" class="caption lfl btn btn-primary btn_theme"
                       data-x="120"
                       data-y="260"
                       data-speed="1000"
                       data-start="900"
                       data-easing="easeInOutBack">
                        در ضمن شما زیبا هستید ...
                    </a>
                </li><!-- /slide -->

                <li data-transition="premium-random" data-slotamount="3">
                    <img src="{% static  "images/dummy/slides/4/slide.jpg" %}" alt="slider img" width="1400"
                         height="377"/>

                    <!-- faces -->
                    <div class="caption lft ltt"
                         data-x="-150"
                         data-y="0"
                         data-speed="300"
                         data-start="2000"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person1.png" %}" alt="satisfied customer"
                             width="108" height="204"/>
                    </div>
                    <div class="caption lft ltt"
                         data-x="0"
                         data-y="0"
                         data-speed="300"
                         data-start="2200"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person2.png" %}" alt="satisfied customer"
                             width="108" height="321"/>
                    </div>
                    <div class="caption lft ltt"
                         data-x="500"
                         data-y="0"
                         data-speed="300"
                         data-start="2400"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person3.png" %}" alt="satisfied customer"
                             width="108" height="139"/>
                    </div>
                    <div class="caption lft ltt"
                         data-x="720"
                         data-y="0"
                         data-speed="300"
                         data-start="2600"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person4.png" %}" alt="satisfied customer"
                             width="108" height="191"/>
                    </div>
                    <div class="caption lft ltt"
                         data-x="940"
                         data-y="0"
                         data-speed="300"
                         data-start="2800"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person5.png" %}" alt="satisfied customer"
                             width="108" height="139"/>
                    </div>
                    <div class="caption lft ltt"
                         data-x="1200"
                         data-y="0"
                         data-speed="300"
                         data-start="3000"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person6.png" %}" alt="satisfied customer"
                             width="108" height="179"/>
                    </div>
                    <div class="caption lft ltt"
                         data-x="1350"
                         data-y="0"
                         data-speed="300"
                         data-start="3200"
                         data-easing="easeInOutCubic">
                        <img src="{% static  "images/dummy/slides/4/person7.png" %}" alt="satisfied customer"
                             width="108" height="133"/>
                    </div>

                    <!-- texts -->
                    <div class="caption lfl big_theme"
                         data-x="120"
                         data-y="140"
                         data-speed="1000"
                         data-start="500"
                         data-easing="easeInOutBack">
                        بیش از 1000 مشتری خوشنود
                    </div>

                    <div class="caption lfl small_theme"
                         data-x="120"
                         data-y="210"
                         data-speed="1000"
                         data-start="700"
                         data-easing="easeInOutBack">
                        پروفایل ما را ببینید در <a href="https://github.com/MapsaBootCamp" target="_blank">GHG</a>!
                    </div>

                    <a href="http://proteusthemes.ticksy.com/" class="caption lfl btn btn-primary btn_theme"
                       data-x="120"
                       data-y="280"
                       data-speed="1000"
                       data-start="900"
                       data-easing="easeInOutBack">
                        به خوبی شما را پشتیبانی میکنیم
                    </a>
                </li><!-- /slide -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div> <!-- /slider revolution -->
</div>






{#################}

{#                    <!-- baloons -->#}
{#                    <div class="caption lft ltt"#}
{#                         data-x="570"#}
{#                         data-y="50"#}
{#                         data-speed="4000"#}
{#                         data-start="1000"#}
{#                         data-easing="easeOutElastic">#}
{#                        <img src="{% static  "images/dummy/slides/1/baloon1.png" %}" alt="baloon" width="135"#}
{#                             height="186"/>#}
{#                    </div>#}
{##}
{#                    <div class="caption lft ltt"#}
{#                         data-x="770"#}
{#                         data-y="60"#}
{#                         data-speed="4000"#}
{#                         data-start="1200"#}
{#                         data-easing="easeOutElastic">#}
{#                        <img src="{% static  "images/dummy/slides/1/baloon3.png" %}" alt="baloon" width="40"#}
{#                             height="55"/>#}
{#                    </div>#}
{##}
{#                    <div class="caption lft ltt"#}
{#                         data-x="870"#}
{#                         data-y="80"#}
{#                         data-speed="4000"#}
{#                         data-start="1500"#}
{#                         data-easing="easeOutElastic">#}
{#                        <img src="{% static  "images/dummy/slides/1/baloon2.png" %}" alt="baloon" width="60"#}
{#                             height="83"/>#}
{#                    </div>#}


{#                   <!-- plane -->#}
{#                    <div class="caption lfl str"#}
{#                         data-x="400"#}
{#                         data-y="20"#}
{#                         data-speed="10000"#}
{#                         data-start="1000"#}
{#                         data-easing="linear">#}
{#                        <img src="{% static  "images/dummy/slides/2/lightning.png" %}" alt="aircraft" width="20"#}
{#                             height="15"/>#}
{#                    </div>#}
