{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="master-wrapper">

        {#          {##}
        <!--  ==========  -->
        <!--  = Breadcrumbs =  -->
        <!--  ==========  -->
        <div class="darker-stripe">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.html">وبمارکت</a>
                            </li>
                            <li><span class="icon-chevron-right"></span></li>
                            <li>
                                <a href="shop.html">فروشگاه</a>
                            </li>
                            <li><span class="icon-chevron-right"></span></li>
                            <li>
                                <a href="shop.html">قالب بندی اصلی</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="push-up blocks-spacer">
                <div class="row">
                    {% include "sidebar.html" %}

                    <!--  ==========  -->
                    <!--  = Main content =  -->
                    <!--  ==========  -->
                    <section class="span9">

                        <!--  ==========  -->
                        <!--  = Title =  -->
                        <!--  ==========  -->
                        <div class="underlined push-down-20">
                            <div class="row">
                                <div class="span5">
                                    <h3><span class="light">همه</span> محصولات</h3>
                                </div>
                                <div class="span4">
                                    <div class="form-inline sorting-by" id="tourStep4">
                                        <label for="isotopeSorting" class="black-clr">چینش :</label>
                                        <select id="isotopeSorting" class="span3">
                                            <option value='{"sortBy":"price", "sortAscending":"true"}'>بر اساس قیمت (کم
                                                به زیاد) &uarr;
                                            </option>
                                            <option value='{"sortBy":"price", "sortAscending":"false"}'>بر اساس قیمت
                                                (زیاد به کم) &darr;
                                            </option>
                                            <option value='{"sortBy":"name", "sortAscending":"true"}'>بر اساس نام
                                                (صعودی) &uarr;
                                            </option>
                                            <option value='{"sortBy":"name", "sortAscending":"false"}'>بر اساس نام
                                                (نزولی) &darr;
                                            </option>
                                            <option value='{"sortBy":"popularity", "sortAscending":"true"}'>بر اساس
                                                محبوبیت (کم به زیاد) &uarr;
                                            </option>
                                            <option value='{"sortBy":"popularity", "sortAscending":"false"}'>بر اساس
                                                محبوبیت (زیاد به کم) &darr;
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /title -->

                        <!--  ==========  -->
                        <!--  = Products =  -->
                        <!--  ==========  -->
                        <div class="row popup-products">
                            <div id="isotopeContainer" class="isotope-container">


                                <!--  ==========  -->
                                <!--  = Single Product =  -->
                                <!--  ==========  -->
                                {% for p in list_p %}


                                    <div class="span3 filter--blazers" data-price="1567" data-popularity="2"
                                         data-size="xs|s|m|xl" data-color="pink" data-brand="adidas">
                                        <div class="product">

                                            <div class="stamp red">

                                                {% if p.count %}{{ p.count }}{% else %}
                                                    تمام شذه
                                                {% endif %}

                                            </div>

                                            <div class="product-img">
                                                <div class="picture">
                                                    {% for m in p.media.all %}
                                                        <img src="{{ m.image_product.url }}" alt="{{ p.slug }}"
                                                             width="540">

                                                    {% endfor %}

                                                    <div class="img-overlay">
                                                        <a class="btn more btn-primary"
                                                           href="{% url "product-details" p.id %}">توضیحات بیشتر</a>


                                                        <a class="btn buy btn-danger"
                                                           href="{% url "cart-update" p.id %}">اضافه به سبد خرید</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="main-titles no-margin">
                                                <h4 class="title">{{ p.cost }}</h4>
                                                <h5 class="no-margin isotope--title">{{ p.name|upper }}</h5>
                                            </div>
                                            <p class="center-align stars">
                                                <span class="icon-star stars-clr"></span>
                                                <span class="icon-star stars-clr"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>

                                            </p>

                                        </div>


                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                        <hr/>
                    </section> <!-- /main content -->
                </div>
            </div>
        </div> <!-- /container -->


    </div> <!-- end of master-wrapper -->




{% endblock %}
{#                                <!--  ==========  -->#}
{#                                <!--  = Single Product =  -->#}
{#                                <!--  ==========  -->#}
{#                                <div class="span3 filter--t-shirts" data-price="1178" data-popularity="4"#}
{#                                     data-size="xs|m|xl|xxl" data-color="red|pink" data-brand="adidas">#}
{#                                    <div class="product">#}
{##}
{#                                        <div class="product-img">#}
{#                                            <div class="picture">#}
{#                                                <img width="540" height="374" alt=""#}
{#                                                     src="{% static "images/dummy/products/product-35.jpg"%}"/>#}
{#                                                <div class="img-overlay">#}
{#                                                    <a class="btn more btn-primary" href="#">توضیحات بیشتر</a>#}
{#                                                    <a class="btn buy btn-danger" href="#">اضافه به سبد خرید</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="main-titles no-margin">#}
{#                                            <h4 class="title">$1178</h4>#}
{#                                            <h5 class="no-margin isotope--title">Est Metus Ut</h5>#}
{#                                        </div>#}
{#                                        <p class="center-align stars">#}
{#                                            <span class="icon-star stars-clr"></span>#}
{#                                            <span class="icon-star stars-clr"></span>#}
{#                                            <span class="icon-star stars-clr"></span>#}
{#                                            <span class="icon-star stars-clr"></span>#}
{#                                            <span class="icon-star"></span>#}
{##}
{#                                        </p>#}
{#                                    </div>#}
{#                                </div> <!-- /single product -->#}
{##}
