<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Save">#}
{#    </form>#}
{#<div style="background-color: aqua">#}

{#    {% for elm in obj2 %}#}
{##}
{#         <div>#}
{#             {% for field in list_obj %}#}
{##}
{#                <p> {{ field }}</p>#}
{#                <p> {{ elm }}</p>#}
{#             </div>#}
{#    {% endfor %}#}
{##}
{#    {% endfor %}#}

{#    {% for img in list_obj %}#}
{#        {{ img }}#}
{#        {% for elm in img %}#}
{#            <p>{{ elm }}</p>#}
{#                <img src="{{ img }}" alt="">#}
{#        {% endfor %}#}
{##}
{##}
{##}
{#    {% endfor %}#}


{#    {% for i in cart_list %}#}
{#    {{ i.created_at }}#}
{##}
{#    {% endfor %}#}
{#<div>#}
{#    {% for i in cart_list %}#}
{#        {% for x in i %}#}
{#        {{ x }}#}
{#        {% endfor %}#}
{##}
{#    {% endfor %}#}
{#</div>#}

{#{% for media in medias %}#}
{#    {% if mediaa. %}#}
{##}
{#    {% endif %} #}
    {% for media in medias %}
        {{ media.pk }}
asdd
    {% endfor %}


{#{% endfor %}#}


</body>
</html>
